.footer {
    display: grid;
    grid-template-columns: 0.2fr 0.2fr 0.6fr;
    align-items: start;
    gap: 3rem;
    padding: 2rem 0;
    height: 170px;

    background: #464547;
}
/*@media (max-width: 1000px) {*/
/*    .footer {*/
/*        background: green;*/
/*    }*/
/*}*/

.footer div {
    padding: 0 2rem;
}

.footer div:first-child {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
}

.footer div:first-child p {
    display: flex;

    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.footer div:nth-last-child(-n+2) {
    display: flex;
    flex-direction: column;
    gap: 2px;
    min-height: 50%;
}

.footer div:nth-last-child(-n+2), .footer a {
    color: rgba(255, 255, 255, 0.4);
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
}

.footer div:nth-last-child(-n+2) {
    font-family: 'Source Sans Pro', sans-serif;
}

.footer div:last-child {
    justify-content: flex-end;
}

@media only screen and (max-width: 768px) {
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1rem;
        height: 200px;
        padding: 4rem 0;
    }

    .footer div:last-child {
        justify-content: flex-start;
    }

    .footer div:nth-last-child(-n+2) {
        display: flex;
        flex-direction: column;
        gap: 10px;
        min-height: 50%;
    }


}
