@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

.greeting {
    position: relative;
    width: 100%;
    height: 100vh;
}

.greeting__images {
    position: relative;
    height: 100vh;
}

.h1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    transform: translate(0, -50%);
    color: white;
}
.greeting__img, .greeting__content {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translate(0, -50%);
}

.greeting__img {
    position: absolute;
    top: 50%;
    right: 0;
    height: 100%;
    width: 100%;
    transform: translate(0, -50%);
    transform-origin: center right;
    overflow: hidden;
    object-fit: cover;
}

.greeting__content { z-index: 1; }
.greeting__img_number3 { z-index: 1; }
.greeting__img_number2 { z-index: 1; }
.greeting__img_number1 { z-index: 1; }

.greeting__img_number2 {
    opacity: 0;
    animation: fadeImgNumber2 5s infinite ease;
}

.greeting__img_number3 {
    animation: scaleImgNumber3 5s infinite ease;
}

.greeting__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.4rem;

    height: 100vh;
    background: transparent;
}

.greeting__content h1 {
    margin-bottom: 12px;

    color: white;
}

.greeting__content h2 {
    color: #FFFFFFB2;
}

.greeting__content-img:hover {
    animation: scaleAndRotateImg1 3s infinite linear;
}

@keyframes scaleAndRotateImg1 {
    0%, 100% {
        transform: scale(1) rotateY(0deg);
    }
    50% {
        transform: scale(1.5) rotateY(180deg);
    }
}

@keyframes fadeImgNumber2 {
    10%, 100% { opacity: 0; }
    65%, 70% { opacity: 1; }
}

@keyframes scaleImgNumber3 {
    10%, 90% {
        transform: scale(1);
        top: 0;
    }
    40%, 60% { transform: scale(1.08); }
}

@media only screen and (max-width: 768px) {
    .greeting__images, .greeting {
        position: relative;
        height: 90vh;
    }
    .greeting__img {
        position: absolute;
        top: 40%;
        right: 0;
        height: 100%;
        width: 100%;
        transform: translate(0, -40%);
        object-fit: none;
        object-position: 100% 100%;
    }
}