.learn-more {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    height: 100%;
    padding: 6rem 0;
    background: url('../assets/learn-more_bg.svg') center;
    background-size: 100%;
}

.learn-more h1 {
    color: white
}

.learn-more h2 {
    color: white
}

.learn-more__button {
    position: relative;
    height: 150px;
    width: 150px;
    padding: 8px 0 0 10px;
    color: white;

    font-size: 80px;

    border-radius: 100px;
    background: #39C2D7;
}

.learn-more__button:hover {
    animation: scaleButton 1.2s linear;
    transform-origin: center center;
}

    @keyframes scaleButton {
        0%, 100% {
            transform: scale(1);
        }
        40%, 60% {
            transform: scale(0.8);
            background: white;
            color: #39C2D7;
        }
    }

@media only screen and (max-width: 768px) {
    .learn-more {
        background-size: auto;
    }

    .learn-more__button {
        height: 100px;
        width: 100px;

        padding: 5px 0 0 8px;
        color: white;

        font-size: 50px;

        border-radius: 100px;
        background: #39C2D7;
    }

}